<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uaf.dao.ContractVersionDao">
	<resultMap type="com.uaf.bean.ContractVersion" id="contractVersion">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<association column="contract_id" property="contractInfo"
			javaType="com.uaf.bean.ContractInfo" select="com.uaf.dao.ContractInfoDao.getContractInfoById"></association>
	</resultMap>

	<select id="getContractVersionPage" resultMap="contractVersion"
		parameterType="java.util.HashMap">
		select * from
		(select t.*,rownum as rowno from ht_contract_version t
		left join ht_contract_info f on t.contract_id=f.contract_id
		where
		1=1
		<if test="param.version!=null and param.version!=''">
			and t.version=#{param.version}
		</if>
		<if test="param.url!=null and param.url!=''">
			and t.url=#{param.url}
		</if>
		<if test="param.status!=null and param.status!=''">
			and t.status=#{param.status}
		</if>
		<if test="param.contract_id!=null and param.contract_id!=''">
			and t.contract_id=#{param.contract_id}
		</if>
		<if test="param.system_id!=null and param.system_id!=''">
			and f.system_id=#{param.system_id}
		</if>
		<if test="param.city_id!=null and param.city_id!=''">
			and f.city_id={param.city_id}
		</if>
		<if test="param.product_id!=null and param.product_id!=''">
			and f.product_id=#{param.product_id}
		</if>
		<if test="param.contract_type!=null and param.contract_type!=''">
			and f.contract_type=#{param.contract_type}
		</if>
		<if test="param.contract_code!=null and param.contract_code!=''">
			and f.contract_code like '%${param.contract_code}%'
		</if>
		and rownum<![CDATA[<=]]>#{param.endRow,jdbcType=INTEGER}
		) temp
		where temp.rowno<![CDATA[>]]>#{param.firstRow,jdbcType=INTEGER}
	</select>
	<select id="getContractVersionCount" resultType="java.lang.Integer"
		parameterType="java.util.HashMap">
		select count(*) from ht_contract_version t 
		left join ht_contract_info f on t.contract_id=f.contract_id
		where 1=1
		<if test="param.version!=null and param.version!=''">
			and t.version=#{param.version}
		</if>
		<if test="param.url!=null and param.url!=''">
			and t.url=#{param.url}
		</if>
		<if test="param.status!=null and param.status!=''">
			and t.status=#{param.status}
		</if>
		<if test="param.contract_id!=null and param.contract_id!=''">
			and t.contract_id=#{param.contract_id}
		</if>
		<if test="param.system_id!=null and param.system_id!=''">
			and f.system_id=#{param.system_id}
		</if>
		<if test="param.city_id!=null and param.city_id!=''">
			and f.city_id={param.city_id}
		</if>
		<if test="param.product_id!=null and param.product_id!=''">
			and f.product_id=#{param.product_id}
		</if>
		<if test="param.contract_type!=null and param.contract_type!=''">
			and f.contract_type=#{param.contract_type}
		</if>
		<if test="param.contract_code!=null and param.contract_code!=''">
			and f.contract_code like '%${param.contract_code}%'
		</if>
	</select>
		<select id="getContractVersionList" resultMap="contractVersion"
		parameterType="java.util.HashMap">
		select * from  ht_contract_version t
		left join ht_contract_info f on t.contract_id=f.contract_id
		left join ht_product m on f.product_id = m.id
		left join ht_city n on f.city_id = n.id
		left join ht_contract_type c on f.contract_type = c.id
		where
		1=1
		<if test="param.version!=null and param.version!=''">
			and t.version=#{param.version}
		</if>
		<if test="param.url!=null and param.url!=''">
			and t.url=#{param.url}
		</if>
		<if test="param.status!=null and param.status!=''">
			and t.status=#{param.status}
		</if>
		<if test="param.contract_id!=null and param.contract_id!=''">
			and t.contract_id=#{param.contract_id}
		</if>
		<if test="param.system_id!=null and param.system_id!=''">
			and f.system_id=#{param.system_id}
		</if>
		<if test="param.city_code!=null and param.city_code!=''">
			and n.code=#{param.city_code}
		</if>
		<if test="param.product_code!=null and param.product_code!=''">
			and m.code=#{param.product_code}
		</if>
		<if test="param.contract_type!=null and param.contract_type!=''">
			and c.code=#{param.contract_type}
		</if>
		<if test="param.contract_code!=null and param.contract_code!=''">
			and f.contract_code = ${param.contract_code}
		</if>
	</select>
	<select id="getContractVersionById" resultMap="contractVersion"
		parameterType="java.util.HashMap">
		select * from ht_contract_version where id=#{id}
	</select>
	<insert id="insertContractVersion" parameterType="com.uaf.bean.ContractVersion">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select max(to_number(id))+1 from ht_contract_version
		</selectKey>
		insert into ht_contract_version(id,contract_id,version,status)
		values(#{id},#{param.contractId},#{param.version},#{param.status})
	</insert>
	<update id="updateContractVersion" parameterType="java.util.HashMap">
		update
		ht_contract_version t 
		<trim prefix="set" suffixOverrides=","> 
			<if test="param.url!=null and param.url!=''">
				 t.url =#{param.url},
			</if>
			<if test="param.contractId!=null and param.contractId!=''">
				 t.contract_id =#{param.contractId},
			</if>
			<if test="param.version!=null and param.version!=''">
				 t.version =#{param.version},
			</if>
			<if test="param.status!=null and param.status!=''">
				 t.status =#{param.status}
			</if>
			where t.id=#{param.id}
		</trim>
	</update>
	<delete id="deleteContractVersion" parameterType="java.lang.String">
		delete from
		ht_contract_version t
		where t.id=#{id}
	</delete>
</mapper>